* {
  font-family: Helvetica;
  text-align: center;
}

/* header styles */

h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 40px 0 0 0;
}

#header {
  background-image: url(../images/the-flatiron-building.png);
  color: #fff;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0 0 0;
}

a {
  color: #fff;
  font-size: 18px;
  text-decoration: underline
}

/* main section styles */

#main {
  background-color: #fff;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

/* design section styling */

#design {
  background-image: url(../images/the-flatiron-building.png);
  background-size: auto;
  color: #fff;
}
